/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body Styling */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    color: #333;
    padding: 20px;
}

/* Main Container */
.container {
    width: 100%;
    max-width: 400px; /* Ajustando a largura máxima para melhor centralização */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Heading Styling */
h2 {
    color: #4e54c8;
    margin-bottom: 15px;
    font-size: 1.5rem;
}

/* Form Styling */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
}

input[type="text"] {
    background-color: #f0f0f0;
    color: #333;
}

button {
    background-color: #4e54c8;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3b3f98;
}

/* Video and Canvas Styling */
#camera, #canvas {
    width: 100%;
    max-width: 320px;
    height: auto;
    border: 3px solid #4e54c8;
    border-radius: 8px;
    margin-top: 15px;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Info Section */
#info {
    font-size: 1.1rem;
    color: #4e54c8;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* Result Image Styling */
#fotoConsultada {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #4e54c8;
}

/* Responsive Design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
        width: 90%; /* Ajusta a largura para ocupar 90% da tela em dispositivos pequenos */
    }

    h2 {
        font-size: 1.3rem;
    }

    input[type="text"], button {
        font-size: 0.9rem;
    }
}
